{
  "printWidth": 120,
  "tabWidth": 2,
  "useTabs": false,
  "semi": false,
  "singleQuote": false,
  "quoteProps": "as-needed",
  "trailingComma": "none",
  "bracketSpacing": true,
  "arrowParens": "always",
  "proseWrap": "preserve",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": ["*.md", "*.mdx"],
      "options": {
        "proseWrap": "preserve",
        "printWidth": 120
      }
    },
    {
      "files": ["*.json", "*.jsonc"],
      "options": {
        "printWidth": 120,
        "trailingComma": "none"
      }
    },
    {
      "files": ["*.yml", "*.yaml"],
      "options": {
        "printWidth": 100,
        "tabWidth": 2
      }
    }
  ]
}
